      <div style="text-align:left;">
          <div *ngIf="todos.length >= 0" class="card border-dark mb-3 col-sm-8" style="margin: 0 auto;">
            <div class="card-body text-dark">
              <input type="text" class="form-control" [(ngModel)]="todo.text" placeholder="What needs to be done?" (keyup.enter)="addTodo()">  
              <ul class="list-group list-group-flush" style="margin-top : 5px;">
                <li class="list-group-item row" *ngFor="let todo of todos" style="list-style: none;">
                <div class="row">
                  <div class="col-sm-10">
                  {{todo.val.name}} 
                </div>
                <div class="col-sm-1">
                  <button *ngIf="todo.val.status === 'active'" class="fa fa-square-o btn btn-sm btn-primary" (click)="changeTodoStatus(todo.val.id, 'completed')" ></button>
                  <button *ngIf="todo.val.status === 'completed'" class="fa fa-check-square-o btn btn-sm btn-warning" (click)="changeTodoStatus(todo.val.id, 'active')" ></button> 
                  </div>
                <div class="col-sm-1">
                    <button (click)="deleteTodo(todo.val.id)" class="fa fa-close btn btn-sm btn-danger"></button>
                  </div>
                </div>
                </li>
              </ul>
              <div class="row" style="padding: 15px 15px 15px 0px;">
                  <div class="col-sm-6">
                    <button (click)="fetchTodosAndCount()" class="btn btn-primary">All - {{todosCount.all}}</button>
                    <button (click)="statusBasedTodos('completed')" class="btn btn-success">Completed - {{todosCount.completed}}</button>
                    <button (click)="statusBasedTodos('active')" class="btn btn-info">active - {{(todosCount.active)}}</button>
                  </div>
                  <div class="col-sm-6">
                    <button class="btn btn-default" (click)="changeStatusForAll('completed')">Make All Complete</button>
                    <button class="btn btn-default" (click)="changeStatusForAll('active')">Make All Active</button>
                  </div>
                </div>
            </div>
          </div>
          
      </div>
  
  <style>
  #todoComponent {
      z-index: 1150px;
  }
  completed {
    background-color: green;
  } active {
    background-color: blue;
  }
  </style>
  
  
  
  
  
  
  

